/* Empty. Add your own CSS if you like */
body {
	cursor:url('http://ionicframework.com/img/finger.png'), auto;
}


.phoneFrame{

	width:100%;
	height:100%;
/* 	background-image:url('../img/iphoneFrame.png'); */
	z-index:5;
	
	left:40%;
}

ion-nav-view{

	background-color:transparent;
	/* width:315px;
	height:554px; */
	position:absolute;
	
}

.button.button-block{
	margin-right:16px;
}

.input-label{
	color:white;
}


input[type='text'], input[type='password']{
	color:white;
}

.positive input[type='text']{
	color:#076293;
}

.bar.bar-nynjtc, .tab-nynjtc{
	background-color:#00b37c;
	color:#fff;
}

.bar.bar-nynjtc h1, .bar.bar-nynjtc h3, .button-clear.button-clear, .ion-navicon.button{
	color:#fff;

}

.darkBlue{
	background-color:#000a10;
}

.item-complex .item-content{

	background-color:transparent;
}

ion-side-menu .list .item, .contact{
	background-color:transparent;
	color:#fff;
	border-bottom-color:gray;
}
a.contact{
	color:#fff;
	font-size:18px;
	border:solid thin white;
	white-space:normal;
}

i.ion-android-mail{
	color:#fff;
}

.whiteColorText{
	color:white;
	margin-bottom:0;
	font-family: 'Raleway', sans-serif;
}

.marginTop-0{

	margin-top:0px;
}
.mainContainer{
	background-image:url('../img/bgImage_main.png');
	background-repeat:no-repeat;
	height:100%;
	width:100%;
	background-size:cover;
	/* top:95px;
	left:23px;
	z-index:-1;
	position:relative ; */
}


.button-block.button-outline{
	border:none;
	margin-bottom:30px;
	padding:15px;
	background-color:rgba(5,9,26,0.6);
}

.button-block.button-outline.activated{
	background-color:rgba(5,9,26,0.9);
	
}



.menu-center{
	padding-top:60px;
	
}

.mainBgColor{

	background-color:#1b2d3c;
}

.marginTop120{

	margin-top:120px; 
}
.padding30{
	padding-bottom:30px;
	padding-top:30px;
}

h3.underCont{
	margin-top:200px;
	margin-left:25px;
}

.button-outline.btn-cat{
	border:thin solid white;
	margin-bottom:30px;
	padding:15px;
	padding-left:75px;
	background-color:transparent;
	text-align:left;
}

.button-outline.btn-sign{
	border:thin solid white;
	margin-bottom:15px;
	padding:15px;
	line-height:0;
	background-color:transparent;
	text-align:center;
}

.text-white{

	color:white;
	font-family: 'Open Sans', sans-serif;
}

.contentFont{

	font-family: 'Open Sans', sans-serif;
}

.item{
	border-color:#555;
	background-color:transparent;
}

.card{
	border-radius:0;
	
}

.cardBlue{
	background-color:#076293;
	color:#fff;
	font-size:16px;
	
}

.col-h2{
	margin-bottom:0px;
	line-height:0px;
	color:#fff;
	
}

.col-h3{
	margin-bottom:0px;
	line-height:0px;
	color:#fff;
	font-size:1.3em;
}

.desc{
	font-size:14px;
	margin-bottom:80px;
}

.desc2{
	font-size:18px;
	/* margin-bottom:80px; */
	
	margin:10px 0;
}

 .pane, .view{
	background-color:transparent;

}

.logoPlacement{

	background-image:url('../img/logo.png');
	background-repeat:no-repeat;
	width:100px;
	height:100px;
	left:35%;
	top:70%;
	position:absolute;
	
}

.smBtn{
	font-size:12px;
	min-height:20px;
	height:30px;
	line-height:0;
}


/*---------------------google map----------*/


.angular-google-map-container{
	display:block;
	width:100%;
	height:100%;
}

.angular-google-map{
	display:block;
	width:100%;
	height:640px;
}

.marker-labels{
	color:#fff;
	background-color:#076293;
	font-size:14px;
	padding:5px;
}

/*-------nynjtc-------------------*/


.harriman{
	background-image:url('../img/Harriman.png');
	background-repeat:no-repeat;
	height:150px;
	width:100%;
	/* margin:0 10px; */
}
.volunteer{
	background-image:url('../img/volunteer.png');
	background-repeat:no-repeat;
	height:150px;
	/* margin:0 10px; */
}
.button-bar .button{

	min-height:32px;
	line-height:32px;
}

.button-outline.button-outline.active, .button-outline.button-outline.activated{
	background-color:white;
	color:#076293;
}
.padding-left{
	padding-left:10px;
}